//params.calc_split = True

params.mode = "ref"   
params.reads_dir = "/home/lejno/Desktop/WDV/reads_BBDukTrimmed/fastq"
//params.reads_dir = "/home/lejno/Desktop/savage-nf/data"
params.out_dir = "."
params.savage_env = "/opt/anaconda2/envs/savage"
params.revcomp = "--revcomp"
params.num_threads = 8
params.ref_file = "/home/lejno/Desktop/WDV/WDV_RefSeq.fasta"
params.ref_len = 2750
 
//params.overlap_len_stage_c = 100
//params.merge_contigs = 0
//params.min_overlap_len =

